body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #f4f4f4;
  color: #333;
}

.dark-mode {
  background: #121212;
  color: #f4f4f4;
}

/* Main Content */
.main-content {
  padding: 2rem;
  text-align: center;
}

footer {
  text-align: center;
  padding: 0rem;
  background: #222;
  color: white;
}
