.navbar{
    align-items: center;
    justify-content: space-between;
    padding: 0 22px;
    display: flex;
}

.navbar > h1{
    font-size: 32px;
    color: white;
}

.navbar_links{
    display: flex;
}

.navbar_links > a{
    display: flex;
    color: white;
    align-items: center;
    text-decoration: none;
    font-weight: 500;

}